<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @minticle.description %>
</p>

<%= link_to 'Edit', edit_minticle_path(@minticle) %> |
<%= link_to 'Back', minticles_path %>
